__MACOSX
bin
coverage.out
.idea/
*.iml
*.swp
*.log
*.test.bin
tags
tools/bin/
vendor
/_tools/
.DS_Store
.vscode
*-coverage.xml
out
test_coverage
coverage.dat
.specstory
.env
.history/
.env.joy
.env.ryan